body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*    
    Common web friendly typefaces: 
    Arial, Times New Roman, Courier, Comic Sans, Impact, Lucida Grande, Tahoma, Trebuchet, Verdana
    */
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3 {
    font-family: 'IBM Plex Serif', serif;
}
* {
    box-sizing: border-box;
}
.rsp {
    max-width: 100%;
}
.featured {
    height: 60vh;
    background: url('../img/bg.jpg') center center fixed;
    background-size: cover;
    display: grid;
}
.text {
    padding: 100px;
    line-height: 2em;
}
.featuredText {
    color: #fff;
    width: 40%;
    padding: 20px;
    margin: auto auto;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.cell {
    background-color: rgb(220, 220, 220);
    height: 100px;
}

/* default - small devices */

[class*="col"] {
    grid-column-end: span 12;
}

/* below 600px typically tablet*/

@media only screen and (max-width: 600px) {
    .padded {
        padding: 50px 30px;
    }
    .sm1 {
        grid-column-end: span 12;
    }
    .sm2 {
        grid-column-end: span 6;
    }
    .sm3 {
        grid-column-end: span 4;
    }
    .sm4 {
        grid-column-end: span 3;
    }
    .sm6 {
        grid-column-end: span 2;
    }
    .sm12 {
        grid-column-end: span 1;
    }
}

/* above 601px typically tablet*/

@media only screen and (min-width: 601px) {
    .padded {
        padding: 80px 80px;
    }
    .twothird {
        grid-column-end: span 8;
        padding: 0 20px;
    }
    .md1 {
        grid-column-end: span 12;
        padding: 0 20px;
    }
    .md2 {
        grid-column-end: span 6;
        padding: 0 20px;
    }
    .md3 {
        grid-column-end: span 4;
        padding: 0 20px;
    }
    .md4 {
        grid-column-end: span 3;
        padding: 0 20px;
    }
    .md6 {
        grid-column-end: span 2;
        padding: 0 20px;
    }
    .md12 {
        grid-column-end: span 1;
        padding: 0 20px;
    }
    .pushed {
        margin: 0 0 0 33vw;
    }
}

/* above 1025px typically desktop*/

@media only screen and (min-width: 1025px) {
    .padded {
        padding: 120px 200px;
    }
    .twothird {
        grid-column-end: span 8;
        padding: 0 20px;
    }
    .col1 {
        grid-column-end: span 12;
        padding: 0 20px;
    }
    .col2 {
        grid-column-end: span 6;
        padding: 0 20px;
    }
    .col3 {
        grid-column-end: span 4;
        padding: 0 20px;
    }
    .col4 {
        grid-column-end: span 3;
        padding: 0 20px;
    }
    .col6 {
        grid-column-end: span 2;
        padding: 0 20px;
    }
    .col12 {
        grid-column-end: span 1;
        padding: 0 20px;
    }
    .pushed {
        margin: 0 0 0 33%;
    }
}
